.App {
  text-align: center;
  
}
:root{
  
  box-sizing: border-box;
 padding: 0px;
margin: 0 auto;

font-family: Helvetica Neue;
}
#navBar {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica Neue;
  z-index: 99;
  height: 100px;
  box-shadow: 0 0 10px 0 grey;
}
#dropSearch {
  
  text-align: right;
  
  margin-right: 30px
  
}
select {
  color: grey;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  
  background-color: white;
  border: 1px solid grey;
}

#searchBarContainer {
  display: flex;
  
  
  color: grey;
  
  height: 30px;
  border-radius: 5px;
  text-align: center;
  
  border: 1px solid grey;
}
input {
  background-color: transparent;
  width: 100%;
}
#searchBar {
  border: none;
  
}
#searchBarOverlay {
  background-color: rgba(145, 145, 145, 0.3);
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#reddit {
  font-size: min(6vw, 40px);
  
  margin-left: 15px;
  color: rgb(255, 109, 109);
  ;
}
#searchBarContainerContainer {
  
}
@media only screen and (max-width: 600px) {
  #searchBarContainerContainer {
    position:fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 0 grey;
  }
  #searchBarContainer {
    
    width: 70%;
    margin: 0 auto;
    
  }
  
}
#logoHolder {
  background-image: url('./redditlogo.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  z-index: 200;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#postTitle {
  color: green;
  opacity: 1;
}
#selectedPostContainer {
  width: 95%;
  position: fixed;
  
  margin: 0px auto;
  z-index: 101;
  overflow-y: scroll;
  overscroll-behavior: contain;
  top: 50px; right:0;bottom:0;left:0;
  
}
#backgroundBlackout {
  position: fixed;
  top: 0px;
  z-index: 101;
  
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: .4;
}
.clickBox {
  position: absolute;
  opacity: 0;
  background-color: black;
  height: 100%;
  width: 95%;
  
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  font-size: 40px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#scrollCont {
  margin-top: 120px;
  
  background-color:white;
  width: 100%;
}
.topStoryBox {
  display: flex;
  align-items: center;
}
.storyBox {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px grey;
  margin: 20px auto;
  width: 95%;
  background-color: white;
  color: black;
  
}
#back {
  display: flex;
  color: white;
  
  background-color: rgba(145, 145, 145, 0.3);
  
   position: fixed; 
   bottom: 40px;
   right: 35px;
   border-radius: 50px;
   width: 50px;
   height: 50px;
   justify-content: center;
    align-items: center;
   
   
}
#backLogo {
  background-image: url('./x3.png');
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
}
#selectedStoryBox {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px grey;
  margin: 0px auto;
  width: 95%;
  background-color: white;
  color: black;
  
}
.leftStoryBox {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 20px;
  width: 20%;
 
  
}
.leftStoryBox h2 {
  margin: 0;
  padding: 0;
  
}

.topArrow {
  color: green;
}
.bottomArrow {
  color: red;
  transform: rotate(180DEG);
}
.storyImageMain {
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 width: 95%;
 height: 300px;
  margin: 0 auto;
  
  
}
.storyImageSelected {
  border-radius: 10px;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
 width: 95%;
 height: 500px;
  margin: 0 auto;
  
  
}
.title {
  text-align: left;
  font-size: 25px;
  

}
.rightStoryBox {
  width: 95%;
}
.bottomStoryBox {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  border-top: .5px solid grey;
  margin: 10px auto;
  width: 95%;
  
}
h2 {
  margin-top: 0px;
}
.topArrow, .bottomArrow {
  font-size: 35px;
}

.commentContainer {
  background-color: rgba(145, 145, 145, 0.1);
  border-radius: 10px;
  margin: 20px;
  padding: 3px;
  display: flex;
  
}

.authorBox {
  display: flex;
  flex-direction: column;
  flex: 2;
  
  
}
.authorLogo {
  background-image: url('./redditlogo.png');
  height: 30px;
  width: 30px;
  background-size:cover;
  margin-left: 5px;
  
}

.author {
margin-left: 10px;
color: black;
font-weight: bold;
}

.authorTimePosted {
color: black;
font-weight: lighter;
margin-left: 10px;

}
.authorHeadingBox {
  display: flex;
  height: 30px;
  align-items: center;
}
.authorBody {
  
  margin: 10px;
  text-overflow:ellipsis;
  overflow-wrap:normal;
  word-break: break-all;
  
  
  overflow: hidden;
 

  
}

.votes {
  font-weight: 300;
}